@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
}

.register-form {position: relative; z-index:2; font-family: 'Noto Sans KR', sans-serif;}
.register-form h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.int-area {
    width: 500px; position: relative;
    margin-top: 20px;
}
.int-area:first-child {margin-top: 0;}
.int-area input {
    width: 100%;
    padding: 20px 10px 16px;
    background-color: transparent;
    border: 2px solid;
    font-size: 20px;
    outline: none;
}
.int-area label {
    font-size: 18px; color: #444;
}

.radio-area label[for=skill-main] {
    font-size: 18px; color: #444;
}

.radio-area input[type=radio]:not(old) {
    width: 30px;
    height: 30px;
}

.radio-area input[type=radio]:not(old) + label[for=skill] {
    text-align: left;
    height: 20px;
    vertical-align: middle;
}

.radio-area label[for=skill] {
    font-size: 30px;
}

.btn-area {margin-top: 30px;}
.btn-area button {
    width: 100%; height: 50px;
    background: rgb(66, 66, 66);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}