@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gugi', sans-serif;
  color: black;
  background-color: #E5E7E9;
  margin: 0px;
  padding-top: 60px;
}

p {
  font-size: 20px;
}

header {
  background-color:#D7DBDD;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header_block {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}