@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gugi', sans-serif;
  color: black;
  background-color: #E5E7E9;
  margin: 0px;
  padding-top: 60px;
}

p {
  font-size: 20px;
}

header {
  background-color:#D7DBDD;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
}

.header_block {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

.layer_1 {
  display: table;
  padding: 30px;
  width: 50%;
  height: 200px;
}

.layer_1_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.layer_1_content {
  font-family: 'Exo 2', sans-serif;
  font-size: 100px;
  background-color: #D7DBDD;
  border-radius: 100px;
}

.arrow {
  text-align: center;
  font-size: 30px;
  position: fixed;
  bottom: 30px;
  border : dashed grey 1px;
  width: 100%;
}