@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Gugi', sans-serif;
  color: black;
  background-color: #E5E7E9;
  margin: 0px;
  padding-top: 60px;
}

p {
  font-size: 20px;
}

header {
  background-color:#D7DBDD;
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header_block {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

.layer_1 {
  display: table;
  padding: 30px;
  width: 50%;
  height: 200px;
  z-index: 2;
}

.layer_1_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.layer_1_content {
  font-family: 'Exo 2', sans-serif;
  font-size: 5rem;
  background-color: #D7DBDD;
  border-radius: 100px;
}

.layer_1_expression {
  font-size:1.2rem;
}

.arrow {
  text-align: center;
  font-size: 30px;
  position: fixed;
  bottom: 30px;
  border : dashed grey 1px;
  width: 100%;
}

.hero__scroll {
  position: absolute;
  bottom: 10px;
  width: 12.5rem;
  margin: auto;
  display: block;
  cursor: pointer;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  text-transform: uppercase;
  border : 5px outset gray;
  border-radius: 20px;
}

.hero__scroll .chevron {
  margin-top: 20px;
  margin-left: 85px;
  display: block;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  color: rgb(89, 89, 90);
}

.chevron::before {
  border-style: double;
  border-width: 0.5em 0.5em 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 20px; }

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

          @keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }
            